Cython==0.29.13
fake-useragent==0.1.11
Flask==1.1.1
flask-restplus==0.13.0
peewee==3.10.0
Pillow==6.1.0
PyMySQL==0.9.3
python-dateutil==2.6.1
Scrapy==1.8.0
scrapy-fake-useragent==1.1.0
six==1.11.0
tika==1.19
uWSGI==2.0.18
validators==0.14.0