[Unit]
Description=Cubic Multi Services Limited
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start tika-server
ExecStop=/usr/bin/docker stop -t 2 tika-server

[Install]
WantedBy=default.target