[Unit]
Description=Tika REST Server

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /opt/tikaserver/tika-server-1.14.jar -h 127.0.0.1
Restart=always

[Install]
WantedBy=multi-user.target